[Desktop Entry]
Encoding=UTF-8
Type=Service

ServiceTypes=KDEDModule
X-KDE-ModuleType=Library
X-KDE-Library=kinetd
X-KDE-FactoryName=kinetd
X-KDE-Kded-autoload=true
X-KDE-Kded-load-on-demand=true

Name=KDE Internet Daemon
Comment=An internet daemon that starts network services on demand
