[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=krfb/framebuffer

Comment=Frame Buffer plugins for KRfb
Comment[et]=KRfb kaadripuhvri plugin
Comment[gl]=Engadido de frame buffer para KRfb
Comment[nb]=Rammebuffer-programtillegg for KRfb
Comment[nds]=Bildpuffer-Modulen för KRfb
Comment[nl]=Framebuffer-plugins voor KRfb
Comment[pt]='Plugins' de 'framebuffers' para o KRfb
Comment[pt_BR]=Plug-ins de framebuffers para o KRfb
Comment[sv]=Insticksprogram med rambuffert för Krfb
Comment[tr]=KRfb için Çerçeve Tamponu eklentileri
Comment[uk]=Додатки буфера кадрів для KRfb
Comment[x-test]=xxFrame Buffer plugins for KRfbxx
