[Desktop Entry]
Encoding=UTF-8
Type=Service

ServiceTypes=KInetDModule
Exec=krfb
X-KDE-FactoryName=kinetd
X-KDE-KINETD-id=krfb
X-KDE-KINETD-port=5900
X-KDE-KINETD-autoPortRange=100
X-KDE-KINETD-enabled=false
X-KDE-KINETD-argument=--kinetd
X-KDE-KINETD-multiInstance=false
X-KDE-KINETD-serviceURL=service:remotedesktop.kde:vnc://%h:%p
X-KDE-KINETD-serviceAttributes=(username=%u),(fullname=%f)

Name=KRfb Desktop Sharing
Name[bs]=KRfb dijeljenje desktopa
Name[da]=KRfb Skrivebordsdeling
Name[el]=KRfb μοίρασμα επιφάνειας εργασίας
Name[es]=Compartición de escritorio KRfb
Name[fi]=KRfb työpöytien jako
Name[he]=שיתוף שולחנות עבודה של KRfb
Name[hr]=KRfb dijeljenje radne površine
Name[pt_BR]=Compartilhamento do Ambiente de Trabalho KRfb
Name[ro]=Partajare ecran KRfb
Name[sv]=Krfb dela ut skrivbord
Comment=A daemon that allows you to share your desktop
Comment[af]='n bediener wat laat toe jy aan deel jou werkskerm
Comment[bs]=Daemon koji vam omogućuje da dijelite vaš desktop
Comment[da]=En dæmon der tillader dig at dele dit skrivebord
Comment[el]=Ένας δαίμονας που σας επιτρέπει να μοιραστείτε την επιφάνεια εργασίας σας
Comment[es]=Un demonio que le permite compartir su escritorio
Comment[fi]=Palvelin joka mahdollistaa työpöytien jaon
Comment[he]=תהליך שירות שמאפשר לך לשתף את שולחן העבודה שלך
Comment[hr]=Daemon koji vam omogućuje da dijelite svoju radnu površinu s drugima
Comment[pt_BR]=Um servidor que permite a você compartilhar o seu ambiente de trabalho
Comment[ro]=Un demon care vă permite saă partajaţi sistemul dumneavoastră
Comment[sv]=Demon som låter dig dela ut skrivbordet
