[Desktop Entry]
Encoding=UTF-8
Type=Service

ServiceTypes=KDEDModule
Exec=krfb
X-KDE-FactoryName=kinetd
X-KDE-Kinetd-port=5900
X-KDE-Kinetd-autoPortRange=100
X-KDE-Kinetd-enabled=true
X-KDE-Kinetd-argument=--kinetd
X-KDE-Kinetd-multiInstance=false

Name=KRfb Desktop Sharing
Comment=A daemon that allows you to share your desktop
