[Desktop Entry]
Encoding=UTF-8
Type=Service

ServiceTypes=KInetDModule
Exec=krfb
X-KDE-FactoryName=kinetd
X-KDE-KINETD-id=krfb
X-KDE-KINETD-port=5900
X-KDE-KINETD-autoPortRange=100
X-KDE-KINETD-enabled=false
X-KDE-KINETD-argument=--kinetd
X-KDE-KINETD-multiInstance=false
X-KDE-KINETD-serviceURL=service:remotedesktop.kde:vnc://%h:%p;(type=shared),(username=%u),(fullname=%f)
X-KDE-KINETD-serviceAttributes=(type=shared),(username=%u),(fullname=%f)

Name=KRfb Desktop Sharing
Name[bs]=KRfb dijeljenje desktopa
Name[ca]=Compartició de l'escriptori KRfb
Name[da]=KRfb Skrivebordsdeling
Name[de]=KRfb Arbeitsfläche freigeben
Name[el]=KRfb μοίρασμα επιφάνειας εργασίας
Name[es]=Compartición de escritorio KRfb
Name[fi]=KRfb työpöytien jako
Name[fr]=Partage de bureau KRfb
Name[he]=שיתוף שולחנות עבודה של KRfb
Name[hr]=KRfb dijeljenje radne površine
Name[ja]=KRfb デスクトップ共有
Name[mt]=Qsim tad-desktop KRfb
Name[pt_BR]=Compartilhamento do Ambiente de Trabalho KRfb
Name[ro]=Partajare ecran KRfb
Name[sv]=Krfb dela ut skrivbord
Name[tr]=KRfb Masaüstü Paylaşımı
Comment=A daemon that allows you to share your desktop
Comment[af]='n bediener wat laat toe jy aan deel jou werkskerm
Comment[bs]=Daemon koji vam omogućuje da dijelite vaš desktop
Comment[ca]=Un dimoni que us permetrà compartir el vostre escriptori
Comment[da]=En dæmon der tillader dig at dele dit skrivebord
Comment[de]=Ein Dämon, der die Freigabe der Arbeitsfläche erlaubt
Comment[el]=Ένας δαίμονας που σας επιτρέπει να μοιραστείτε την επιφάνεια εργασίας σας
Comment[es]=Un demonio que le permite compartir su escritorio
Comment[fi]=Palvelin joka mahdollistaa työpöytien jaon
Comment[fr]=Un démon qui vous permet de partager votre bureau
Comment[he]=תהליך שירות שמאפשר לך לשתף את שולחן העבודה שלך
Comment[hr]=Daemon koji vam omogućuje da dijelite svoju radnu površinu s drugima
Comment[ja]=デスクトップ共有を可能にするデーモン
Comment[mt]=Daemon li jħallik taqsam id-desktop ma' ħaddieħor
Comment[pt_BR]=Um servidor que permite a você compartilhar o seu ambiente de trabalho
Comment[ro]=Un demon care vă permite saă partajaţi sistemul dumneavoastră
Comment[sv]=Demon som låter dig dela ut skrivbordet
