# KDE Config File  
[Desktop Entry]
Type=Application
Exec=krfb -caption "%c" %i %m
Icon=krfb
DocPath=krfb/index.html
Terminal=0
Name=Desktop Sharing
Name[bs]=Dijeljenje desktopa
Name[da]=Skrivebordsdeling
Name[de]=Arbeitsfläche freigeben
Name[el]=Μοίρασμα επιφάνειας εργασίας
Name[es]=Compartición de escritorio
Name[fi]=Työpöytien jako
Name[he]=שיתוף שולחנות עבודה
Name[hr]=Djeljenje radne površine
Name[ja]=デスクトップ共有
Name[mt]=Qsim tad-desktop
Name[pt_BR]=Compartilhamento do Ambiente de Trabalho
Name[sv]=Dela ut skrivbordet
Name[tr]=Desktop Paylaşımı
