[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=krfb/events

Comment=Event plugins for KRfb
Comment[ca]=Connectors d'esdeveniments per al KRfb.
Comment[ca@valencia]=Connectors d'esdeveniments per al KRfb.
Comment[en_GB]=Event plugins for KRfb
Comment[es]=Complementos de eventos para KRfb
Comment[nl]=Plug-ins voor gebeurtenis voor KRfb
Comment[pt]='Plugins' de eventos para o KRfb
Comment[sv]=Händelseinsticksprogram för Krfb
Comment[uk]=Додатки обробки подій для KRfb
Comment[x-test]=xxEvent plugins for KRfbxx

