[Desktop Entry]
Encoding=UTF-8
Icon=krfb
Type=Application
Exec=kcmshell kcmkrfb

X-KDE-ModuleType=Library
X-KDE-Library=krfb

Name=Desktop Sharing
Name[af]=werkskerm deeling
Name[bs]=Dijeljenje desktopa
Name[ca]=Compartició de l'escriptori
Name[cs]=Sdílení pracovní plochy
Name[da]=Skrivebordsdeling
Name[de]=Arbeitsfläche freigeben
Name[el]=Μοίρασμα της επιφάνειας εργασίας
Name[es]=Compartición de escritorio
Name[fi]=Työpöytien jako
Name[fr]=Partage de bureau
Name[he]=שיתוף שולחנות עבודה
Name[hr]=Dijeljenje radne površine
Name[ja]=デスクトップ共有
Name[mt]=Qsim tad-desktop
Name[pt_BR]=Compartilhamento do Ambiente de Trabalho
Name[ro]=Partajare ecran
Name[sv]=Dela ut skrivbordet
Name[tr]=Masaüstü Paylaşımı

Comment=Configure Desktop Sharing
Comment[bs]=Podesite dijeljenje desktopa
Comment[ca]=Lupa de l'escriptori
Comment[de]=Freigabe der Arbeitsfläche einrichten
Comment[es]=Compartición de escritorio
Comment[fi]=Aseta työpöytien jakoa
Comment[fr]=Configuration du partage du bureau
Comment[he]=שינוי הגדרות שיתוף שולחנות העבודה
Comment[sv]=Anpassa Dela ut skrivbord
Keywords=desktop sharing,krfb,vnc,sharing,rdp,krdc,remote desktop connection,rdp
Keywords[bs]=desktop sharing,krfb,vnc,sharing,rdp,krdc,remote desktop connection,rdp,dijeljenje desktopa,dijeljenje
Keywords[ca]=compartició de l'escriptori,krfb,vnc,compartir,rdp,krdc,connexió a l'escriptori remot,rdp
Keywords[de]=Arbeitsfläche freigen,krfb,vnc,freigeben,rdp,krdc,Verbindung zur Arbeitsfläche über das Netzwerk,rdp
Keywords[es]=compartición de escritorio,krfb,vnc,compartir,rdp,krdc, conexión escritorio remoto,rdp
Keywords[fi]=työpöydän jako,krfb,vnc,jako,rdp,krdc,etätyöpöytä
Keywords[fr]=partage du bureau,krfb,vnc,rdp,krdc,connexion à un bureau distant,rdp
Keywords[sv]=dela skrivbord,krfb,vnc,dela,rdp,krdc,fjärrskrivbordsanslutning,rdp
